<div class="c-chat-window">
  <div class="header">
    <div class="add-thread-control">
      <i class="material-icons" (click)="openDialogNewThread()">add_circle_outline</i>
      <span (click)="openDialogNewThread()">New thread</span>
    </div>
    <div class="app-title">
      ChatCut
    </div>
    <div class="logo-control">
      <div class="icon-app-cut">
      </div>
      <button class="burger-control" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="content">
    <div class="thread-list">

    </div>
    <div class="window-messages">

    </div>
  </div>
  <div class="control-footer">
    <div class="empty-block">

    </div>
    <div class="field-enter-text">
      <textarea>

      </textarea>
    </div>
    <div class="control-send-message">
      <i class="material-icons">send</i>
    </div>
  </div>

</div>
