.c-chat-window {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.c-chat-window .header {
  width: 100%;
  height: 70px;
  background: #5fadf4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-bottom: 1px solid;
  flex: 0 0 auto;
}

.c-chat-window .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1 1 auto;
}

.c-chat-window .content .thread-list {
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-right: 1px solid;
  overflow: auto;
  flex: none;
}

@media(min-width: 1000px) {
  .c-chat-window .content .thread-list {
    width: 300px;
  }
}

@media(max-width: 1000px) {
  .c-chat-window .content .thread-list {
    width: 30%;
  }
}

.c-chat-window .content .thread-list .item-thread {
  height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.c-chat-window .content .thread-list .item-thread.active-thread {
  background: #e6f2ff;
}

.c-chat-window .content .thread-list .item-thread.active-thread:hover {
  background: #e6f2ff;
}

.c-chat-window .content .thread-list .item-thread:hover {
  background: #f4f6f6;
}

.c-chat-window .content .thread-list .item-thread .title-thread {
  height: 20px;
  width: 100%;
  border-bottom: 1px dashed;
  white-space: nowrap;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-chat-window .content .window-messages {
  overflow: auto;
  padding: 20px 20px 20px 20px;
  flex: auto;
}

.c-chat-window .content .window-messages .messages-list .message-item.my-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media(min-width: 1000px) {
  .c-chat-window .content .window-messages .messages-list .message-item.my-message {
    padding-left: 300px;
  }
}

@media(max-width: 999px) {
  .c-chat-window .content .window-messages .messages-list .message-item.my-message {
    padding-left: 50px;
  }
}

.c-chat-window .content .window-messages .messages-list .message-item.my-message .content-item{
  background: #e6eeff;
}

.c-chat-window .content .window-messages .messages-list .message-item.not-my-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media(min-width: 1000px) {
  .c-chat-window .content .window-messages .messages-list .message-item.not-my-message {
    padding-right: 300px;
  }
}

@media(max-width: 999px) {
  .c-chat-window .content .window-messages .messages-list .message-item.not-my-message {
    padding-right: 50px;
  }
}

.c-chat-window .content .window-messages .messages-list .message-item.not-my-message .content-item{
  background: #ccffcc;
}

.c-chat-window .content .window-messages .messages-list .message-item .content-item {
  margin-bottom: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
}

.c-chat-window .content .window-messages .messages-list .message-item .content-item .title {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 8px;
  border-bottom: 1px solid;
}

.c-chat-window .content .window-messages .messages-list .message-item .content-item .title .username {
  font-size: 16px;
}

.c-chat-window .content .window-messages .messages-list .message-item .content-item .title .date {
  font-size: 12px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.c-chat-window .content .window-messages .messages-list .message-item .content-item .text {
  font-size: 15px;
  color: #000000;
}

.c-chat-window .control-footer {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 0 0 auto;
}

.c-chat-window .control-footer .control-send-message {
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-chat-window .control-footer .control-send-message i {
  font-size: 40px;
  cursor: pointer;
  transition: color 1s, font-size 1s;
}

.c-chat-window .control-footer .control-send-message i:hover {
  font-size: 42px;
  cursor: pointer;
  color: #5fadf4;
}

@media(min-width: 1000px) {
  .c-chat-window .control-footer .empty-block {
    width: 300px;
  }
}

@media(max-width: 1000px) {
  .c-chat-window .control-footer .empty-block {
    width: 30%;
  }
}

.c-chat-window .control-footer .field-enter-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: auto;
}

.c-chat-window .control-footer .field-enter-text textarea {
  width: 100%;
  height: 100%;
  border: 1px dashed;
  border-radius: 8px;
  outline:none;
  font-size: 14px;
  padding: 10px;
  resize: none;
}

.c-chat-window .header .app-title {
  color: #f4f6f6;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.c-chat-window .header .add-thread-control {
  height: 100%;
  padding: 20px;
  color: #f4f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-chat-window .header .add-thread-control span {
  padding-top: 3px;
  padding-left: 5px;
  cursor: pointer;
}

.c-chat-window .header .add-thread-control i {
  cursor: pointer;
  font-size: 30px;
}

.c-chat-window .header .add-thread-control i:hover {
  cursor: pointer;
  color: #ffffff;
}

.c-chat-window .header .add-thread-control span:hover {
  cursor: pointer;
  text-decoration:underline;
  color: #ffffff;
}

.c-chat-window .header .logo-control {
  height: 100%;
  padding: 15px;
  color: #f4f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-chat-window .header .logo-control .icon-app-cut {
  width: 50px;
  height: 50px;
}

.c-chat-window .header .logo-control .burger-control mat-icon {
  font-size: 33px;
}
